doctype 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes')
    meta(name='format-detection', content='telephone=no,email=no,address=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    title Loupe
    link(rel='stylesheet', href='assets/icons/style.css')
    link(rel='stylesheet', href='css/style.css')

    if dev
      script(src='#{mtApiPath}/app.js')
      script(src='#{mtApiPath}/endpoints.js')
    else
      script(src='#{mtApiPath}/all.js')

    //if lte IE 8
      script(src='ie/console-polyfill/index.js')
      script(src='ie/html5shiv/html5shiv')
      script(src='ie/selectivizr/selectivizr-min.js')
      script(src='ie/PIE/PIE_IE678_uncompressed.js')


    if dev
      script#main-script(data-mtapi='#{mtApiCGIPath}', data-main='js/main', src='lib/require.js')
    else
      script(src='js/vendor.js')
      script(src='js/template.js')
      script(src='js/card.js')
      script#main-script(data-mtapi='#{mtApiCGIPath}', src='js/app.js')
  body
    #container
      #app
      #sidemenu
    #app-building
