<section id="acception-view">
  <div class="inner">
    <header><h1>承認待ちの記事</h1></header>
    <div class="content">
    {{#if loading}}
      <div class="loading"></div>
    {{/if}}
    {{#if accepted}}
      <div class="accepted"><span class="icon-checkmark"></span><span class="message">承認しました！</span></div>
    {{/if}}
    {{#if acceptionFailed}}
      <div class="acception-failed"><span class="message">承認に失敗しました</span><div class="close-me">閉じる</div></div>
    {{/if}}
    {{#if id}}
    {{#ifIs status eq="Review"}}
      <ul id="acception-item">
        <li>
          {{#if assets.length}}
            {{#eachOnly assets 0}}
              <img src="{{url}}" />
            {{/eachOnly}}
          {{else}}
              <span class="icon-pen no-image"></span>
          {{/if}}
        </li>
      </ul>
      <div class="title">{{title}}</div>
      <div id="accept-button">承認する</div>
    {{else}}
      <div id="no-acceptance-needed-for-this-entry">
      この記事は承認待ちではありません
      </div>
    {{/ifIs}}
    {{else}}
      {{#if error}}
        <div class="error-message">
          記事の情報を取得できませんでした。
        </div>
      {{/if}}
    {{/if}}
    </div>
  </div>
</section>
