<section id="acception-view">
  <div class="content">
  {{#if loading}}
    <div class="loading"></div>
  {{/if}}
  {{#if acceptionFailed}}
    <div class="acception-failed"><span class="message">承認に失敗しました</span><div class="close-me">閉じる</div></div>
  {{/if}}
  {{#if id}}
    {{#ifIs status eq="Review"}}
      <div id="accept-button" class="contents-top-button">承認する</div>
      <div class="title">{{title}}</div>
      <div class="date">{{date}}</div>
      <div class="author">{{#trans trans}}Author{{/trans}}<span class="author-name">{{author.displayName}}</span></div>
      <div class="body">{{sanitize body}}</div>
    {{else}}
      {{#ifIs status eq="Publish"}}
      <div class="accepted contents-top-button">
        <div id="accepted">
          {{#if accepted}}
            {{#trans trans}}Published!{{/trans}}
          {{else}}
            {{#trans trans}}Published{{/trans}}
          {{/if}}
          <span class="accepted-view-button-container"><span class="accepted-view-button icon-undo"></span></span>
        </div>
      </div>
      <div class="title">{{title}}</div>
      <div class="date">{{date}}</div>
      <div class="author">{{#trans trans}}Author{{/trans}}<span class="author-name">{{author.displayName}}</span></div>
      <div class="body">{{sanitize body}}</div>
      {{/ifIs}}
    {{/ifIs}}
  {{else}}
    {{#if error}}
      <div class="error-message">
        記事の情報を取得できませんでした。
      </div>
    {{/if}}
  {{/if}}
  </div>
</section>
